# Arquivos específicos do usuário
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Resultados de build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Diretório do Visual Studio 2015 cache/opções
.vs/

# Resultados de testes
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Arquivos de log
*.log

# Diretórios e arquivos do NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Diretórios e arquivos do npm
node_modules/

# Arquivos de configuração de publicação
*.pubxml
*.publishproj

# Arquivos de banco de dados locais
*.mdf
*.ldf

# Outros arquivos e diretórios específicos do ambiente ou ferramentas
ecf/
rcf/
csx/
*.build.csdef
AppPackages/
BundleArtifacts/
ClientBin/
.sass-cache/
*.dbmdl
*.pfx
*.publishsettings
Generated_Code/
